@page "/fetchdata"
@inject SampleDataAccess _data

<PageTitle>Weather forecast</PageTitle>

@if (_employees is not null)
{
	foreach (var e in _employees)
	{
		<h3>@e.FirstName @e.LastName</h3>
	}
}
else
{
	<h3>Loading...</h3>
}


@code {

	List<EmployeeModel>? _employees;

	// protected override void OnInitialized()
	// {
	//     employees = _data.GetEmployees();
	// }

	protected override async Task OnInitializedAsync()
	{
		_employees = await _data.GetEmployeesCache();
	}

}